<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.chillme">

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:name=".controller.AppController"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">

        <activity android:name=".DiaphragmaticActivity"></activity>
        <activity android:name=".SamaVrittiActivity" />
        <activity android:name=".MainBreathing" />

        <activity android:name=".UserProfile"></activity>
        <activity android:name=".ui.Song9Activity" />
        <activity android:name=".ui.Song8Activity" />
        <activity android:name=".ui.Song7Activity" />
        <activity android:name=".ui.Song6Activity" />
        <activity android:name=".ui.Song5Activity" />
        <activity android:name=".ui.Song4Activity" />
        <activity android:name=".ui.Song3Activity" />
        <activity android:name=".ui.Song2Activity" />
        <activity android:name=".ui.Song1Activity" />
        <activity android:name=".ui.MusicActivity" />
        <activity
            android:name=".MainActivity"
            android:label="@string/app_name">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".JokesActivity" />

        <meta-data
            android:name="preloaded_fonts"
            android:resource="@array/preloaded_fonts" />
    </application>

</manifest>